services:

#####   KATRAN   ########
  katran:
    container_name: katran
    build:
      context: katran/
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 512M
    privileged: true                    # recommended for XDP/AF_XDP access
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - /lib/modules:/lib/modules:ro
      - /sys/fs/bpf:/sys/fs/bpf
      - /sys/kernel/debug:/sys/kernel/debug:rw
      - /usr/src:/usr/src:ro
    networks:
      gateway-lb:
        ipv4_address: ${KATRAN_IP}
        mac_address: ${KATRAN_MAC}
    env_file: .env


###### GATEWAY  #########

  gateway:
    container_name: gateway
    build:
      context: gateway/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 8M
        reservations:
          cpus: '0.05'
          memory: 8M
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      gateway-client:
        ipv4_address: ${GATEWAY_CLIENT_IP}
        mac_address: ${GATEWAY_CLIENT_MAC}
      gateway-lb: 
        ipv4_address: ${GATEWAY_KATRAN_IP}
        mac_address: ${GATEWAY_KATRAN_MAC}
      gateway-reals:
        ipv4_address: ${GATEWAY_REAL_IP}
        mac_address:  ${GATEWAY_REAL_MAC}
      gateway-shared-subs-broker:
        ipv4_address: ${GATEWAY_SHARED_SUBS_BROKER_IP}
        mac_address: ${GATEWAY_SHARED_SUBS_BROKER_MAC}
      gateway-scratch-lb:
        ipv4_address: ${GATEWAY_SCRATCH_LB_IP}
        mac_address:  ${GATEWAY_SCRATCH_LB_MAC}
    # depends_on:
    #   - katran
    env_file: .env


######  CLIENTS  #######

  client_0:
    container_name: client_0
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_0_IP}
        mac_address: ${CLIENT_0_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=0

  client_1:
    container_name: client_1
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_1_IP}
        mac_address: ${CLIENT_1_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=1

  client_2:
    container_name: client_2
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_2_IP}
        mac_address: ${CLIENT_2_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=2

  client_3:
    container_name: client_3
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_3_IP}
        mac_address: ${CLIENT_3_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=3

  client_4:
    container_name: client_4
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_4_IP}
        mac_address: ${CLIENT_4_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=4

  client_5:
    container_name: client_5
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_5_IP}
        mac_address: ${CLIENT_5_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=5

  client_6:
    container_name: client_6
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_6_IP}
        mac_address: ${CLIENT_6_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=6


  client_7:
    container_name: client_7
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_7_IP}
        mac_address: ${CLIENT_7_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=7


  client_8:
    container_name: client_8
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_8_IP}
        mac_address: ${CLIENT_8_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=8

  client_9:
    container_name: client_9
    build:
      context: client/
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 32M
    cap_add:
      - NET_ADMIN
    depends_on:
      - gateway
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_9_IP}
        mac_address: ${CLIENT_9_MAC}
    env_file: .env
    environment:
      - CLIENT_NUM=9


#####  REALS  #########

  real_0:
    container_name: real_0
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_0_IP}
        mac_address: ${REAL_0_MAC}
    env_file: .env
    environment:
      - NUM=0



  real_1:
    container_name: real_1
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_1_IP}
        mac_address: ${REAL_1_MAC}
    env_file: .env
    environment:
      - NUM=1

  real_2:
    container_name: real_2
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_2_IP}
        mac_address: ${REAL_2_MAC}
    env_file: .env
    environment:
      - NUM=2

  real_3:
    container_name: real_3
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_3_IP}
        mac_address: ${REAL_3_MAC}
    env_file: .env
    environment:
      - NUM=3

  real_4:
    container_name: real_4
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_4_IP}
        mac_address: ${REAL_4_MAC}
    env_file: .env
    environment:
      - NUM=4


  real_5:
    container_name: real_5
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_5_IP}
        mac_address: ${REAL_5_MAC}
    env_file: .env
    environment:
      - NUM=5


  real_6:
    container_name: real_6
    build:
      context: real/
    deploy:
      resources:
        limits:
          cpus: '0.01'
          memory: 8M
        reservations:
          cpus: '0.01'
          memory: 8M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_6_IP}
        mac_address: ${REAL_6_MAC}
    env_file: .env
    environment:
      - NUM=6



###### Central Broker that handles MQTT v5 Shared Subscriptions #######

  shared_subs_broker:
    container_name: shared_subs_broker
    build:
      context: shared_subs_broker/
    deploy:           # use same limits as Katran for a fair comparison
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 512M
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-shared-subs-broker:
        ipv4_address: ${SHARED_SUBS_BROKER_IP}
        mac_address: ${SHARED_SUBS_BROKER_MAC}
    env_file: .env


###### Monitoring #######

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
    - 8080:8080
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro


  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
    - 9090:9090
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    - prometheus_data:/prometheus
    depends_on:
    - cadvisor


  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3013:3000
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus


########## Volumes and Networks ##########

volumes:
  grafana-storage: {}
  prometheus_data:


networks:
  gateway-client:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_CLIENT_SUBNET}
  gateway-lb:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_KATRAN_SUBNET}
  gateway-reals:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_REAL_SUBNET}
  gateway-scratch-lb:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_SCRATCH_LB_SUBNET}
  gateway-shared-subs-broker:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_SHARED_SUBS_BROKER_SUBNET}
